extends layout

block content
  .w3-container
    if locals.user
      h4 You are logged in!
    else
        if error
            h4 #{error}
        <form action="/checkAnswer" method="POST">
            <br>
            <p> #{data.question}
            <p> #{data.image_file}
            <input type=text name="answer" placeholder="Enter object name">
            <br>
            <br>
            <input type=hidden name="dataId" value=#{data.id}>
            <input type=submit value=submit>
        </form>